<h1>Sign Up</h1>
<hr>

<div class='row'>
  <div class='col-md-6'>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <div class='form-group'>
        <%= f.label :username %>
        <%= f.text_field :username, :autofocus => true, :class => "form-control" %>
      </div>
      
      <div class='form-group'>
        <%= f.label :email %>
        <%= f.text_field :email, :class => "form-control" %>
      </div>

      <div class='form-group'>
        <%= f.label :password %>
        <%= f.password_field :password, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, :class => "form-control" %>
      </div>

      <div class='form-group'>
        <%= f.submit "Sign up", :class => "btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>

