<% if @success %>
  alert("<%=j "Level of #{@user.username} successfully changed to #{@user.level_name}"  %>");
<% else %>
  alert("<%=j "Something's wrong. Level of #{@user.username} cannot changed" %>");
<% end %>