<h1>Change Password</h1>
<hr>

<div class="row">
  <div class="col-md-4">
    <%= form_tag change_password_users_path, :method => :post, :remote=>true do %>
      <div class="form-group">
        <%= password_field_tag "user[password]", "", :placeholder => "Old Password...", :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= password_field_tag "user[new_password]", "", :placeholder => "New Password...", :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= password_field_tag "user[password_confirmation]", "", :placeholder => "Password Confirmation...", :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= submit_tag "Save", :class => "btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>