<h1>Change Email Address</h1>
<hr>

<div class="row">
  <div class="col-md-4">
    <%= form_tag change_email_address_users_path, :method => :post, :remote=>true do %>
      <div class="form-group">
        <%= text_field_tag "email", current_user.email, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= submit_tag "Save", :class => "btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>