<h1>Manage Users</h1>
<hr>

<% if @users.empty? %>
  <i style='font-size: 14px'>There is no user registered.</i>
<% else %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th width="1%">#</th>
        <th>Username</th>
        <th>Email Address</th>
        <th width="1%">Role</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user, index| %>
      <tr>
        <td><%= @users.offset + index + 1 %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td style="padding:0px;">
          <select class="form-control btn-user-level" style="width:120px; font-size:12px; padding: 0px" data-id="<%= user.id %>">
            <option value="admin" <%= "selected" if user.level_name == "admin" %>>Admin</option>
            <option value="member" <%= "selected" if user.level_name == "member" %>>Member</option>
          </select>
        </td>
        <td>
          <%= link_to raw('<i class="glyphicon glyphicon-trash"></i> Delete'), user_path(user.id), :method => :delete %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @users %>
<% end %>

<script type="text/javascript">
$(".btn-user-level").change(function(){
  var id = $(this).attr("data-id");
  var new_level = $(this).val();
  $.ajax({
    url:"<%=j change_level_users_path %>",
    dataType:"jsonp",
    type:"post",
    data:{
      id:id,
      new_level:new_level
    }
  })
});
</script>