<ul class="nav navbar-nav">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Landsat Images <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to raw("<i class='glyphicon glyphicon-plus glyphicon-th-list'></i>&nbsp;Uploaded Landsat Images"), root_path %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to raw("<i class='glyphicon glyphicon-plus glyphicon-upload'></i>&nbsp;Upload New Landsat Image (GeoTIF)"), new_landsat_image_path %>
      </li>
    </ul>
  </li>
  <li>
    <% if can? :manage, :users %>
      <%= link_to raw("Manage Users"), users_path %>
    <% end %>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account Configuration <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li>
        <%= link_to raw("<i class='glyphicon glyphicon-plus glyphicon-ok'></i>&nbsp;Change Password"), edit_password_users_path %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to raw("<i class='glyphicon glyphicon-plus glyphicon-envelope'></i>&nbsp;Change Email Address"), edit_email_address_users_path %>
      </li>
    </ul>
  </li>
</ul>