<div class="navbar-collapse collapse">
  <% if user_signed_in? %>
    <%= render :partial => "shared/left_menu" %>
  <% end %>

  <ul class="nav navbar-nav navbar-right">
    <% if user_signed_in? %>
      <li>
        <p class="navbar-text pull-right">Welcome <%= current_user.username %>, <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to "Sign Up", new_user_registration_path %>
      </li>
    <% end %>
  </ul>
</div>