<% if @preview_path == false %>
  alert("Something's Wrong. View for landsat image cannot be created.")
<% else %>
  alert("View for landsat image successfully created")
  location.href = "<%= landsat_image_preview_path(@landsat_image.id, @preview_id) %>";
<% end %>