<h1>View Setup for Landsat Image</h1>
<span><i><%= @landsat_image.name %>, uploaded at : <%= @landsat_image.created_at.strftime("%m/%d/%Y, %I:%M %p") %></i></span>
<hr>

<div class="modal fade" id="modal_preparation">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Preparing View for Landsat Image</h4>
      </div>
      <div class="modal-body">
        <center>
          <%= image_tag("loader.gif") %>
        </center>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal" id="btn_cancel">Cancel</button> -->
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="row">
<form role="form" class="col-md-2">
  <div class="form-group">
    <label class="control-label">Quality (Pixel Density)</label>
    <br>
    <input name="preview[quality]" id="quality_slider" type="text" data-slider-min="1" data-slider-max="100" data-slider-step="1" data-slider-value="15"/>
  </div>
  <div class="form-group">
    <label class="control-label">Interpolation Method</label>
    <select name="preview[interpolation_method]" class="form-control" id="interpolation_method">
      <option value="0">Bilinear</option>
      <option value="1">Bicubic</option>
      <option value="2">Nearest Neighbor</option>
      <option value="3">Lancoz</option>
    </select>
  </div>
  <div class="form-group">
    <a href="#" class="btn btn-primary" id="btn_submit_preview">Submit</a>
  </div>
</form>
</div>

<script type="text/javascript">
$('#quality_slider').slider({
  formatter: function(value) {
    return value + "%";
  }
});

var xhrCreate = null;

xhrCreate = $("#btn_submit_preview").click(function(){
  var quality = $("#quality_slider").val()/100;
  var landsat_image_id = "<%= @landsat_image.id %>";
  $.ajax({
    url:"<%= landsat_image_previews_path(@landsat_image.id) %>",
    method:"post",
    dataType:"jsonp",
    data:{
      preview:{
        quality: quality,
        landsat_image_id: landsat_image_id,
        interpolation: $("#interpolation_method").val()
      }
    },
    beforeSend:function(){
      $("#modal_preparation").modal({
        backdrop: "static",
        show: true
      });
    },
    complete:function(){
      $("#modal_preparation").modal('hide');
    },
    failed:function(){
      alert("Error. View for landsat image cannot be created.");
    }
  });
  return false;
});

// $("#btn_cancel").click(function(){
//   xhrCreate.abort();
// });
</script>