<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Description</h3>
      </div>
      <div class="panel-body">
        <table border="0" style="font-size:10px">
          <tr>
            <td>Name</td>
            <td width="1%">:&nbsp;</td>
            <td><%= @landsat_image.ori_name %></td>
          </tr>
          <tr>
            <td>Uploaded at</td>
            <td width="1%">:&nbsp;</td>
            <td><%= @landsat_image.created_at.strftime("%m/%d/%Y, %I:%M %p") %></td>
          </tr>
          <tr>
            <td>Pixel Density</td>
            <td width="1%">:&nbsp;</td>
            <td><%= @preview.quality * 100  %>%</td>
          </tr>
          <tr>
            <td>Interpolation</td>
            <td width="1%">:&nbsp;</td>
            <td><%= @preview.interpolation_name  %></td>
          </tr>  
          <% geo_transform = @preview.geo_transform %>
          <tr>
            <td>West</td>
            <td width="1%">:&nbsp;</td>
            <td><%= geo_transform[:west]  %></td>
          </tr>
          <tr>
            <td>North</td>
            <td width="1%">:&nbsp;</td>
            <td><%= geo_transform[:north]  %></td>
          </tr>
          <tr>
            <td>Projection</td>
            <td width="1%">:&nbsp;</td>
            <td><%= @preview.projection  %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div id="landsat_image_preview_box">
      <img src="<%= view_image_landsat_image_preview_path(@landsat_image.id, @preview.id) %>">
      <div style="position:absolute; left:30px; top: 10px; text-align:center; opacity: 0.3; transition:1s" onmouseover="this.style.opacity=1" onmouseout="this.style.opacity=0.3">
        <h4 style="color:#149bdf">Zoom</h4>
        <input id="zoom_slider" type="text" data-slider-min="10" data-slider-max="400" data-slider-step="1" data-slider-value="100" data-slider-orientation="vertical"/>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
(function(){
  var $box = $("#landsat_image_preview_box");
  $box.css("max-width", $box.parent().width());

  var $img = $box.find("img");
  var w = null;
  var h = null;
  $("#zoom_slider").slider({
    formatter: function(value) {
      return value + "%";
    },
    reversed:true
  }).on("slide", function(){
    if (w == null) w = $img.width();
    if (h == null) h = $img.height();
    var factor = $("#zoom_slider").data('slider').getValue() / 100;
    $img.width(w * factor);
    $img.height(h * factor);
  })
})()
</script>