<h1>Login</h1>
<hr>

<div class='row'>
  <div class='col-md-6'>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <div class='form-group'>
        <%= f.label :username %>
        <%= f.text_field :username, :autofocus => true, :class => "form-control" %>
      </div>

      <div class='form-group'>
        <%= f.label :password %>
        <%= f.password_field :password, :class => "form-control" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class='form-group'>
          <%= f.check_box :remember_me, :checked => true %> <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class='form-group'>
        <%= f.submit "Login", :class => "btn btn-info" %>
      </div>
    <% end %>
  </div>
</div>
