// Navbar
$navbar-default-color: #fff;
$navbar-default-brand-hover-color: #ddd;

$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #ddd;
$navbar-default-link-toggle-hover-bg: #ddd;
$navbar-default-link-active-color: #ddd;

$navbar-default-bg: #245075;
$navbar-default-toggle-hover-bg: #1B3D59;

// Icon
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/glyphicons-halflings-regular.woff') format('woff'),
       url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

// Font
@font-face {
  font-family: "Open Sans";
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular-webfont.svg#IcoMoon') format('svg'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;