<%= form_for(landsat_image, html:{ role:"form", id:"landsat_image_upload_form", enctype:"multipart/form-data"}) do |f| %>
  <div class="form-group">
    <%= f.label :name, class: "control-label" %>
    <%= f.text_field :name, class: "form-control", id:"landsat_image_name_input" %>
    <span class="help-block"></span>
  </div>
  <div class="form-group">
    <label class="control-label"></label>
    <input type="file" name="landsat_image_file" id="landsat_image_file_input">
    <span class="help-block"></span>
  </div>
  <div class="form-group">
    <%= f.submit :class => "btn btn-primary", :id => "btn_upload_landsat_image" , :value => "Upload" %>
  </div>
<% end %>

<script type="text/javascript">
$("#landsat_image_upload_form").ajaxForm({
  beforeSend: function() {
    $("#modal_preparation").modal({
      show:true,
      backdrop:"static"
    });
  },
  uploadProgress: function(event, position, total, percentComplete) {
    $("#progress").attr("aria-valuenow", percentComplete).css("width", percentComplete + "%");
    if (percentComplete == 100) {
      $("#progress_container").hide();
      $("#loading").show();
    }
  },
  complete: function(xhr) {
    alert("Landsat image successfully uploaded.");
    location.href="<%= root_path %>"
  }
});

$("#landsat_image_file_input").change(function(){
  var $nameInput = $("#landsat_image_name_input");
  var path = $("#landsat_image_file_input").val();
  var filename = path.substring(path.lastIndexOf("\\")+1, path.length);
  $nameInput.val(filename);
});
</script>