<% if @landsat_images.empty? %>
  <i style='font-size: 14px'>There is no landsat images uploaded.</i>
<% else %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th width="1%">#</th>
        <th>Name</th>
        <th>Uploaded at</th>
        <th>Uploaded by</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <% @landsat_images.each_with_index do |landsat_image, index| %>
      <tr>
        <td><%= @landsat_images.offset + index + 1 %></td>
        <td><%= landsat_image.name %></td>
        <td><%= landsat_image.created_at.strftime("%m/%d/%Y, %I:%M %p") %></td>
        <td>
          <% if landsat_image.creator.id == current_user.id %>
            <i><%= landsat_image.creator.username %></i>
          <% else %>
            <%= landsat_image.creator.username %>
          <% end %>
        </td>
        <td>
          <%= link_to raw('<i class="glyphicon glyphicon-fullscreen"></i> View'), new_landsat_image_preview_path(landsat_image.id) %>
          <% if landsat_image.creator.id == current_user.id %>
            |
            <%= link_to raw('<i class="glyphicon glyphicon-trash"></i> Delete'), landsat_image_path(landsat_image.id), :method => :delete %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @landsat_images %>
<% end %>