<h1>Upload New Landsat Image (GeoTIFF)</h1>
<hr>
<div class="modal fade" id="modal_preparation">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Uploading Landsat Image</h4>
      </div>
      <div class="modal-body">
        <center>
          <div class="progress progress-striped" id="progress_container">
            <div class="progress-bar progress-bar-info" id="progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
              <span class="sr-only">20% Complete</span>
            </div>
          </div>
          <div id="loading" style="display:none">
            <%= image_tag('loader.gif') %>
          </div>
        </center>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<%= render :partial => "form", locals: { landsat_image: @landsat_image } %>